# npm
node_modules/
package-lock.json

# TODO: the following two ignores should be eventually removed:
# TODO: venv should be already removed once server architecture is removed
# venv
*/venv/
*/__pycache__/
# TODO: Editor should save files in a given path, not in this directory, so the ignore is redundant, make sure to not commit such files.
# output
*/users.yaml
