.flow-conteiner{
    border: 3px solid #f8fafb;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
}

.window-conteiner{
    display: flex;
    justify-content: space-between;
    padding:  5vh 5vh 0vh 0vh;
    padding-left:0;
    height: 100vh;
    width: 100vw;
}





